/*************************
Author : Samuel Holmes
Date : 2020-04-11
Domain : samuelholmes.tech
Version : 0.1
**************************/
:root {
	--bright-yellow: rgb(255, 196, 12);
	--ocre: rgb(251, 174, 33);
	--dark-green: rgb(29, 177, 75);
	--med-green: rgb(96, 186, 70);
	--light-green: rgb(139, 195, 63);
	--dark-gray: rgb(23, 23, 23);
	--med-gray: rgb(65, 64, 66);
	--light-gray: rgb(240, 240, 240);
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--med-green);
	color: var(--dark-gray);
}
img {
	max-width: 100%;
}

.main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.mainTagCont {
	background-color: var(--med-gray);
	color: whitesmoke;
	border-radius: 0 45%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.tagline {
	font-weight: 700;
	line-height: 0.5em;
}
.desc {
	font-size: 0.7em;
	font-weight: 300;
}
footer {
	position: fixed;
	bottom: 1em;
	width: 100%;
	text-align: center;
}
